body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:37px;
}
.u626 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:0px;
  width:278px;
  height:36px;
  font-size:28px;
  text-align:center;
}
.u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
.u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:237px;
}
.u628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:1000px;
  height:236px;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u625-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1000px;
  height:337px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1000px;
  height:477px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u630 {
  position:fixed;
  left:200px;
  top:0px;
}
#u630_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  background-image:none;
}
#u630_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  overflow:hidden;
}
#u632_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/1_策划背景/u41_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 106px;
}
#u632_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u634 {
  position:absolute;
  left:190px;
  top:0px;
}
#u634_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:601px;
  height:78px;
  background-image:none;
}
#u634_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u635_img.mouseOver {
}
#u635.mouseOver {
}
#u635_img.selected {
}
#u635.selected {
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u636_img.mouseOver {
}
#u636.mouseOver {
}
#u636_img.selected {
}
#u636.selected {
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u637_img.mouseOver {
}
#u637.mouseOver {
}
#u637_img.selected {
}
#u637.selected {
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u638_img.mouseOver {
}
#u638.mouseOver {
}
#u638_img.selected {
}
#u638.selected {
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u639_img.mouseOver {
}
#u639.mouseOver {
}
#u639_img.selected {
}
#u639.selected {
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:65px;
  width:23px;
  height:12px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:22px;
  width:110px;
  height:32px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:1201px;
  height:91px;
  overflow:hidden;
}
#u645_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/1_策划背景/u54_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 73px;
}
#u645_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u646 {
  position:absolute;
  left:200px;
  top:88px;
}
#u646_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  background-image:none;
}
#u646_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u647_img.mouseOver {
}
#u647.mouseOver {
}
#u647_img.selected {
}
#u647.selected {
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u648_img.mouseOver {
}
#u648.mouseOver {
}
#u648_img.selected {
}
#u648.selected {
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u646_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:699px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u646_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u649_img.mouseOver {
}
#u649.mouseOver {
}
#u649_img.selected {
}
#u649.selected {
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u650_img.mouseOver {
}
#u650.mouseOver {
}
#u650_img.selected {
}
#u650.selected {
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u651_img.mouseOver {
}
#u651.mouseOver {
}
#u651_img.selected {
}
#u651.selected {
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u652_img.mouseOver {
}
#u652.mouseOver {
}
#u652_img.selected {
}
#u652.selected {
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u653_img.mouseOver {
}
#u653.mouseOver {
}
#u653_img.selected {
}
#u653.selected {
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u654_img.mouseOver {
}
#u654.mouseOver {
}
#u654_img.selected {
}
#u654.selected {
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u646_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:459px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u646_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u655_img.mouseOver {
}
#u655.mouseOver {
}
#u655_img.selected {
}
#u655.selected {
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u656_img.mouseOver {
}
#u656.mouseOver {
}
#u656_img.selected {
}
#u656.selected {
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u657_img.mouseOver {
}
#u657.mouseOver {
}
#u657_img.selected {
}
#u657.selected {
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u658_img.mouseOver {
}
#u658.mouseOver {
}
#u658_img.selected {
}
#u658.selected {
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u646_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u646_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u659_img.mouseOver {
}
#u659.mouseOver {
}
#u659_img.selected {
}
#u659.selected {
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u660_img.mouseOver {
}
#u660.mouseOver {
}
#u660_img.selected {
}
#u660.selected {
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u646_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:579px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u646_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u661_img.mouseOver {
}
#u661.mouseOver {
}
#u661_img.selected {
}
#u661.selected {
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u662_img.mouseOver {
}
#u662.mouseOver {
}
#u662_img.selected {
}
#u662.selected {
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u663_img.mouseOver {
}
#u663.mouseOver {
}
#u663_img.selected {
}
#u663.selected {
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u664_img.mouseOver {
}
#u664.mouseOver {
}
#u664_img.selected {
}
#u664.selected {
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u665_img.mouseOver {
}
#u665.mouseOver {
}
#u665_img.selected {
}
#u665.selected {
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
