body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:37px;
}
.u129 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:263px;
  height:36px;
  font-size:28px;
  text-align:center;
}
.u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
.u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:741px;
}
.u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:1000px;
  height:740px;
  line-height:28px;
}
.u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u128-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1000px;
  height:841px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1000px;
  height:981px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u133 {
  position:fixed;
  left:200px;
  top:0px;
}
#u133_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  background-image:none;
}
#u133_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  overflow:hidden;
}
#u135_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/1_策划背景/u41_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 106px;
}
#u135_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:190px;
  top:0px;
}
#u137_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:601px;
  height:78px;
  background-image:none;
}
#u137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u138_img.mouseOver {
}
#u138.mouseOver {
}
#u138_img.selected {
}
#u138.selected {
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u139_img.mouseOver {
}
#u139.mouseOver {
}
#u139_img.selected {
}
#u139.selected {
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u140_img.mouseOver {
}
#u140.mouseOver {
}
#u140_img.selected {
}
#u140.selected {
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u141_img.mouseOver {
}
#u141.mouseOver {
}
#u141_img.selected {
}
#u141.selected {
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u142_img.mouseOver {
}
#u142.mouseOver {
}
#u142_img.selected {
}
#u142.selected {
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:65px;
  width:23px;
  height:12px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:22px;
  width:110px;
  height:32px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:1201px;
  height:91px;
  overflow:hidden;
}
#u148_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/1_策划背景/u54_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 73px;
}
#u148_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149 {
  position:absolute;
  left:200px;
  top:88px;
}
#u149_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  background-image:none;
}
#u149_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u150_img.mouseOver {
}
#u150.mouseOver {
}
#u150_img.selected {
}
#u150.selected {
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u151_img.mouseOver {
}
#u151.mouseOver {
}
#u151_img.selected {
}
#u151.selected {
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u149_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:699px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u149_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u152_img.mouseOver {
}
#u152.mouseOver {
}
#u152_img.selected {
}
#u152.selected {
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u153_img.mouseOver {
}
#u153.mouseOver {
}
#u153_img.selected {
}
#u153.selected {
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u154_img.mouseOver {
}
#u154.mouseOver {
}
#u154_img.selected {
}
#u154.selected {
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u155_img.mouseOver {
}
#u155.mouseOver {
}
#u155_img.selected {
}
#u155.selected {
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u156_img.mouseOver {
}
#u156.mouseOver {
}
#u156_img.selected {
}
#u156.selected {
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u157_img.mouseOver {
}
#u157.mouseOver {
}
#u157_img.selected {
}
#u157.selected {
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u149_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:459px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u149_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u158_img.mouseOver {
}
#u158.mouseOver {
}
#u158_img.selected {
}
#u158.selected {
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u159_img.mouseOver {
}
#u159.mouseOver {
}
#u159_img.selected {
}
#u159.selected {
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u160_img.mouseOver {
}
#u160.mouseOver {
}
#u160_img.selected {
}
#u160.selected {
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u161_img.mouseOver {
}
#u161.mouseOver {
}
#u161_img.selected {
}
#u161.selected {
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u149_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u149_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u162_img.mouseOver {
}
#u162.mouseOver {
}
#u162_img.selected {
}
#u162.selected {
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u163_img.mouseOver {
}
#u163.mouseOver {
}
#u163_img.selected {
}
#u163.selected {
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u149_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:579px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u149_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u164_img.mouseOver {
}
#u164.mouseOver {
}
#u164_img.selected {
}
#u164.selected {
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u165_img.mouseOver {
}
#u165.mouseOver {
}
#u165_img.selected {
}
#u165.selected {
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u166_img.mouseOver {
}
#u166.mouseOver {
}
#u166_img.selected {
}
#u166.selected {
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u167_img.mouseOver {
}
#u167.mouseOver {
}
#u167_img.selected {
}
#u167.selected {
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u168_img.mouseOver {
}
#u168.mouseOver {
}
#u168_img.selected {
}
#u168.selected {
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
