body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
.u415 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:138px;
  height:36px;
  font-size:28px;
  text-align:center;
}
.u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
.u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:125px;
}
.u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:1000px;
  height:124px;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
.u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u414-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1000px;
  height:225px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1000px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u419 {
  position:fixed;
  left:200px;
  top:0px;
}
#u419_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  background-image:none;
}
#u419_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:58px;
  width:23px;
  height:11px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  overflow:hidden;
}
#u421_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:168px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/1_策划背景/u41_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 106px;
}
#u421_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u423 {
  position:absolute;
  left:190px;
  top:0px;
}
#u423_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:601px;
  height:78px;
  background-image:none;
}
#u423_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u424_img.mouseOver {
}
#u424.mouseOver {
}
#u424_img.selected {
}
#u424.selected {
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u425_img.mouseOver {
}
#u425.mouseOver {
}
#u425_img.selected {
}
#u425.selected {
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u426_img.mouseOver {
}
#u426.mouseOver {
}
#u426_img.selected {
}
#u426.selected {
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u427_img.mouseOver {
}
#u427.mouseOver {
}
#u427_img.selected {
}
#u427.selected {
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u428_img.mouseOver {
}
#u428.mouseOver {
}
#u428_img.selected {
}
#u428.selected {
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:65px;
  width:23px;
  height:12px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:22px;
  width:110px;
  height:32px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:190px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:186px;
  word-wrap:break-word;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:4px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:1201px;
  height:91px;
  overflow:hidden;
}
#u434_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/1_策划背景/u54_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 73px;
}
#u434_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u435 {
  position:absolute;
  left:200px;
  top:88px;
}
#u435_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  background-image:none;
}
#u435_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u436_img.mouseOver {
}
#u436.mouseOver {
}
#u436_img.selected {
}
#u436.selected {
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u437_img.mouseOver {
}
#u437.mouseOver {
}
#u437_img.selected {
}
#u437.selected {
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u435_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:699px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u435_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u438_img.mouseOver {
}
#u438.mouseOver {
}
#u438_img.selected {
}
#u438.selected {
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u439_img.mouseOver {
}
#u439.mouseOver {
}
#u439_img.selected {
}
#u439.selected {
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u440_img.mouseOver {
}
#u440.mouseOver {
}
#u440_img.selected {
}
#u440.selected {
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u441_img.mouseOver {
}
#u441.mouseOver {
}
#u441_img.selected {
}
#u441.selected {
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u442_img.mouseOver {
}
#u442.mouseOver {
}
#u442_img.selected {
}
#u442.selected {
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u443_img.mouseOver {
}
#u443.mouseOver {
}
#u443_img.selected {
}
#u443.selected {
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u435_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:459px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u435_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u444_img.mouseOver {
}
#u444.mouseOver {
}
#u444_img.selected {
}
#u444.selected {
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u445_img.mouseOver {
}
#u445.mouseOver {
}
#u445_img.selected {
}
#u445.selected {
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u446_img.mouseOver {
}
#u446.mouseOver {
}
#u446_img.selected {
}
#u446.selected {
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u447_img.mouseOver {
}
#u447.mouseOver {
}
#u447_img.selected {
}
#u447.selected {
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u435_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u435_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u448_img.mouseOver {
}
#u448.mouseOver {
}
#u448_img.selected {
}
#u448.selected {
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u449_img.mouseOver {
}
#u449.mouseOver {
}
#u449_img.selected {
}
#u449.selected {
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u435_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:579px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u435_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u450_img.mouseOver {
}
#u450.mouseOver {
}
#u450_img.selected {
}
#u450.selected {
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u451_img.mouseOver {
}
#u451.mouseOver {
}
#u451_img.selected {
}
#u451.selected {
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u452_img.mouseOver {
}
#u452.mouseOver {
}
#u452_img.selected {
}
#u452.selected {
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u453_img.mouseOver {
}
#u453.mouseOver {
}
#u453_img.selected {
}
#u453.selected {
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u454_img.mouseOver {
}
#u454.mouseOver {
}
#u454_img.selected {
}
#u454.selected {
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
